page_*.jpeg
exercises/
Subtitles
documents/
.env/
logs.txt
data.db
*.key
*.indd
*.png
.DS_Store
.idea/
.vscode/
__pycache__/
*.scriv
*.pyc
*.screenflow
*.mp4
*.mov
*.cmproj
exports/
videos/
*.numbers
*.sketch
