<!DOCTYPE html>
<head></head>
<body>

<!-- This is a HTML comment, so it doesn't get executed by the browser!
     Below are variables that will get replaced by their values just like in Python.
     The variable names must be inside double curly braces in order to be replaced -->

<h1>{{ post['title'] }}</h1>
<p>{{ post['content'] }}</p>

</body>
</html>