<!DOCTYPE html>
<head></head>
<body>
	<!-- This is a generic Jinja2 template which defines a block. It doesn't use any
	     variables (so it won't actually show any content.) Other templates can however
		 fill in this block with their own content. That means we won't need to duplicate e.g. `DOCTYPE`.-->

	{% block content %}

	{% endblock %}
</body>
</html>