<!-- Use the base.jinja2 template. We can then override blocks defined there and "fill them in". -->
{% extends 'base.jinja2' %}

<!-- Replace the `content` block with whatever we put inside it...
     In this case, a title with the `post['title']` and a paragraph with the `post['content']`. -->

{% block content %}
<h1>{{ post['title'] }}</h1>
<p>{{ post['content'] }}</p>
{% endblock %}