h1, h2 {
  font-weight: 800 !important;
}

h3 {
  font-weight: 600 !important;
}

.md-annotation__index [data-md-annotation-id]::before {
  vertical-align: -0.05em;
}

.md-annotation__index::after {
  margin: 0 -.35ch;
}