<!DOCTYPE html>
<head></head>
<body>

<!-- This is a HTML comment, so it doesn't get executed by the browser! -->
<!-- The below are variables that will get replaced by their values (as if they were Python). They must be inside {{ }} in order to do that. -->
<h1>{{ post['title'] }}</h1>
<p>{{ post['content'] }}</p>

</body>
</html>