{% extends 'base.jinja2' %}

{% block content %}
<!-- Here the contents are a title and a form.-->
<h1>Create post</h1>
<!-- The action is what route to send data to -->
<form action="/post/create">
	<!-- A div is just a block element; makes other elements appear below this one instead of side by side. -->
	<div>
		<!-- A label is some text associated with an element. It's particularly useful for screen readers. -->
		<label for="title">Title</label>
		<!-- A "text" input is a normal text field. -->
		<input type="text" name="title" id="title" />
	</div>

	<div>
		<label for="content">Content</label>
		<!-- A textarea is another type of input which can span multiple lines of text. -->
		<textarea name="content" id="content"></textarea>
	</div>

	<div>
		<!-- When you have a "submit" input, this will send the data in the form to the `action` when pressed. -->
		<input type="submit">
	</div>
</form>
{% endblock %}