<!DOCTYPE html>
<head></head>
<body>
	<!-- We add this in base.jinja2 and outside the content block so that it is not overridden by other pages. -->
	<a href="{{ url_for('home') }}">Home</a>
	{% block content %}

	{% endblock %}
</body>
</html>